.menu {
    width: 100vw;
    /* min-height: 100vh; */
    max-width: 1200px;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    background: pink;

}

.menuContainer{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width: 576px) { 
    .menu{
        margin-top: 0;
    }

    .menuContainer{
        margin-top: 1rem;
    }

 }