.card{
    min-width: 280px;
    width: 100%;
    max-width: 800px;
    background: #f8f8f8;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 1rem;
}

@media (min-width: 576px) {
    .card{
        /* align-items: flex-start; */
    }
 }

