.hero{
    width: 100vw;
    max-width: 1200px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.heroContainer{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    background: lightgrey;
    background-position: center;
    background-size: object-fit;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.heroContainer::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(black, gray);
}

.heroContainerTitle{}