

/* 01. Order Modal */
.orderModalCard{
    width: 100%;
    z-index: 15;
    position: fixed;
    top: 30vh;
    left: 6%;
    width: 80%;
    overflow: hidden;
    background: transparent;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 370px) {
    .orderModalCard {
        left: 10%;
    }
  }
@media (min-width: 450px) {
    .orderModalCard {
        left: 10.5%;
    }
  }
@media (min-width: 768px) {
    .orderModalCard {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
.orderModalContainer{
    width: 90%;
}


/* 01. A. modal items */
.orderModalItems{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* 01. A.1 modal items */
.orderModalItemsLeft{}
/* top */
.orderModalItemsLeftTop{}
.orderModalItemsLeftTopText{}
/* bottom */
.orderModalItemsLeftBottom{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.orderModalItemsLeftBottomPrice{
    color: maroon;
}
.orderModalItemsLeftBottomAmount{
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}


/* 01. A.2 modal items */
.orderModalItemsRight{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderModalItemsRightButtonMinus{
    border: 1px solid rgba(128, 0, 0, 0.4);
    color: maroon;
    width: 2.7rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-right: .5rem;
    cursor: pointer;
    transition: 0.3s;
}
.orderModalItemsRightButtonPlus{
    border: 1px solid rgba(128, 0, 0, 0.4);
    color: maroon;
    width: 2.7rem;
    height: 1.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}
.orderModalItemsRightButtonMinus:hover,
.orderModalItemsRightButtonPlus:hover{
    background: rgba(128, 0, 0, 0.164);
}

/* 01. B. line */
.orderModalLine{
    height: 1.5px;
    width: 100%;
    background: rgba(128, 0, 0, 0.541);
    margin: 1rem 0;
}


/* 01. C. total container */
.orderModalTotalContainer{
    display: flex;
    justify-content: space-between;
}
.orderModalTotal{}
.orderModalAmount{}


/*  01. D. button container */
.orderModalButtonContainer{
    display: flex;
    justify-content: right;
    margin-top: .7rem;
}
.orderModalButtonClose{
    height: 2rem;
    width: 7rem;
    font-weight: 500;
    background: 0;
    border: 1px solid maroon;
    color: maroon;
}
.orderModalButtonClose:hover{
    background: rgba(128, 0, 0, 0.144);
}
.orderModalButtonPay{
    height: 2rem;
    width: 7rem;
    font-weight: 500;
    margin-left: 1rem;
}